<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/site.css' %}"/>
</head>

{% now "Y" as current_year %}
{% now "m" as current_month %}

<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a> |
        <a href="{% url 'credit' %}" class="navbar-brand">TMC of Credit</a> |
        <a href="{% url 'todayUF' %}" class="navbar-brand" rel="noopener" target="_blank">Today UF</a> |
        <a href="{% url 'tmc' current_year current_month %}" class="navbar-brand" rel="noopener" target="_blank">TMC table</a> |
        <a href="http://luissanchez.github.io/index.html" class="navbar-brand" rel="noopener" target="_blank">Contact</a> |
        <a href="http://luissanchez.github.io/assets/files/Luis_Sánchez_-_Senior_Software_Engineer.pdf" class="navbar-brand" rel="noopener" target="_blank">Resume (CV)</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>© {{current_year}}</p>
        </footer>
    </div>
</body>
</html>