{% extends "webapp/layout.html" %}
{% block title %}
Rate of TMC
{% endblock %}
{% block content %}
<h1>Results</h1>

<div class="mb-3">
    <label for="address">TMC</label>
    <input type="text" class="form-control" id="address" placeholder="TMC" value="${{ tmc }}">
</div>
<div class="mb-3">
    <label for="address">Crédito en pesos</label>
    <input type="text" class="form-control" id="address" placeholder="Crédito en pesos" value="$ {{ total_value }}">
</div>

<p>{{ message }}</p>
<p>Con 0% de interés y sin CAE, pero con tasa máxima convencional de {{ rate }}%</p>
{% endblock %}